/* Global styles */

body {
  font-family: "Humanist", sans-serif;
  font-size: 16px;
}

/* Example utility classes */
.text-center {
  text-align: center;
}

.full-height {
  height: 100vh;
}

.rounded {
  border-radius: 8px;
}

p.counter {
  font-size: 1.2em;
  font-weight: bold;
  color: #65a038;
  padding-bottom: 20px;
  padding-top: 20px;
}
