/* Global styles */

body {
  font-family: "Inter", sans-serif;
}

/* Example utility classes */
.text-center {
  text-align: center;
}

.full-height {
  height: 100vh;
}

.rounded {
  border-radius: 8px;
}
